@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.qnaboard .header_logo {
  text-align: center;
  margin-top: 40px;
}

.qnaboard .header_logo a {
  text-decoration: none;
  color: #000000; /* 하늘색 톤으로 변경 */
  font-size: 3em;
  font-family: "Arial", sans-serif;
  animation: fadeIn 1s ease-in;
}

.qnaboard .header_logo a:hover {
  color: #7a7a7a; /* 더 진한 하늘색 톤으로 변경 */
  cursor: pointer;
}

.qnaboard .board-container {
  margin: 20px;
}

.qnaboard .sort-options {
  text-align: right;
  margin-bottom: 20px;
}

.qnaboard .sort-options label {
  font-size: 1.2em;
  margin-right: 10px;
}

.qnaboard .sort-options select {
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
}

.qnaboard .board-list {
  list-style-type: none;
  padding: 0;
}

.qnaboard .board-item {
  border: 2px solid #000000; /* 하늘색 테두리로 변경 */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.qnaboard .board-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.qnaboard .board-item h3 {
  margin-top: 0;
  font-size: 1.8em;
  color: #333;
  cursor: pointer;
}

.qnaboard .board-item p {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #666;
}

/* 새로운 스타일 추가 */
.qnaboard .header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qnaboard .header-with-button h2 {
  margin: 0;
}

.qnaboard .view-button1 {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.qnaboard .view-button1:hover {
  background-color: #686868;
}
