/* koreafood.css */
.clickable {
  cursor: pointer; /* 커서 모양을 포인터로 변경하여 사용자에게 클릭 가능함을 시각적으로 보여줍니다. */
}
.grid-container {
  display: grid; /* 그리드 컨테이너로 설정 */
  position: absolute;
  grid-template-columns: repeat(
    3,
    auto
  ); /* 3개의 열을 생성합니다. 각 열의 너비는 자동으로 설정됩니다. */
  grid-auto-rows: 250px; /* 행의 높이는 100px로 설정 */
  gap: 40px; /* 아이템 사이의 간격 조절 */
  justify-content: center; /* 가로 방향으로 정중앙 정렬 */
  align-items: center; /* 세로 방향으로 정중앙 정렬 */
}

.grid-item {
  width: 200px;
  height: 200px;
  background-color: lightblue; /* 배경색 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 47% 24% 48% 26% / 23% 47% 24% 48%;
  box-shadow: 3px 3px 10px black;
}

.fast-food {
  background-image: url("../../../public/img/foodCategory/fastFood.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.korea-food {
  background-image: url("../../../public/img/foodCategory/koreaFood.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.china-food {
  background-image: url("../../../public/img/foodCategory/chinaFood.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.japan-food {
  background-image: url("../../../public/img/foodCategory/japanFood.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.europe-food {
  background-image: url("../../../public/img/foodCategory/europeFood.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dessert {
  background-image: url("../../../public/img/foodCategory/dessert.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bread {
  background-image: url("../../../public/img/foodCategory/bread.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.snack {
  background-image: url("../../../public/img/foodCategory/snack.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.asian {
  background-image: url("../../../public/img/foodCategory/asian.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
