.main-wrap {
  margin-left: 250px;
}

.main-wrap > #main {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#main {
  min-height: 100vh;
  min-width: calc(100vw - 250px);
  /* background-image: url(../../../public/MainPagePic4.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; */
  overflow: hidden; /* 이미지가 컨테이너를 넘어갈 경우 잘리지 않도록 설정 */
  overflow-y: auto; /* 세로 스크롤 추가 */
}

.footer-wrap {
}
