.board-container {
    margin: 20px;
  }
  
  .board-list {
    list-style-type: none;
    padding: 0;
  }
  
  .board-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .board-item h3 {
    margin-top: 0;
  }
  
  .board-item p {
    margin-bottom: 5px;
  }
  
  .header_logo span {
    font-size: 50px; /* 폰트 크기 조정 */
    font-weight: bold;
    color: #007bff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 로고에 그림자 효과 추가 */
    transform: rotate(-10deg); /* 로고를 약간 회전시켜 입체적으로 보이도록 설정 */
  }