<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KProject.SmartAiCook.mapper.QnAMapper">
    <!--    qua 추가 -->
    <insert id="insertQnA" parameterType="QnADTO">
        INSERT INTO `qna` (`email`, `title`, `que`, `pass`) VALUES (#{email}, #{title}, #{que}, #{pass});
    </insert>
<!--    유저의 qna 가져옴 -->
    <select id="getQnAByEmail" parameterType="string" resultType="QnADTO">
        SELECT *
        FROM QnA
        WHERE email = #{email};
    </select>
</mapper>