<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.KProject.SmartAiCook.mapper.UserMapper">

    <!-- 새로운 사용자 추가 -->
    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO users (name, id, password, phone, nick, birth, email, token, createdAt, editedAt, lastLoginAt)
        VALUES (#{name}, #{id}, #{password}, #{phone}, #{nick}, #{birth}, #{email}, #{token}, NOW(), NOW(), NOW())
    </insert>

    <!-- ID로 사용자 조회 -->
    <select id="getUserByEmail" parameterType="string" resultType="UserDTO">
        SELECT *
        FROM users
        WHERE email = #{email};
    </select>

    <!-- ID로 사용자 정보 업데이트 -->
    <update id="updateUser" parameterType="UserDTO">
        UPDATE users
        SET name = #{name}, phone = #{phone}
        WHERE id = #{id}
    </update>

    <!-- ID로 사용자 삭제 -->
    <delete id="deleteUser" parameterType="string">
        DELETE
        FROM users
        WHERE id = #{id};
    </delete>

    <!-- 이미 존재하는 id(email)인지 체크 -->
    <select id="getIdCheckById" parameterType="string" resultType="boolean">
        SELECT COUNT(*)
        FROM users
        WHERE id = #{userId}
    </select>

    <!-- 회원 정보 체크 ( id, password ) -->
    <select id="getExistedByEmail" parameterType="string">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

</mapper>