#nav {
  position: fixed;
  left: 0;
  top: 180px;
  width: 290px;
  height: calc(100% - 180px);
  z-index: 8000;
}

.ai-btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 50px;
  margin: 10%;
}

.category-wrap {
  height: 85%;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid black;
}

.line-1 {
  width: 100%;
  height: 1px;
  background-color: #777;
  box-shadow: 2 2 2 black;
}

.category {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  user-select: none;
  cursor: pointer;
}
